body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
}
button {
    background-color: #ff0055;
    color: white;
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background-color: #ff3366;
}